{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "prefer-template": "error",
        "prettier/prettier": "error",
        "object-shorthand": "error",
        // Disables
        "@typescript-eslint/ban-types": [
            "error",
            {
                "types": {
                    "{}": false
                }
            }
        ],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-console": "off",
        "no-prototype-builtins": "off",
        "no-unused-vars": "off"
    },
    "ignorePatterns": "**/build/**/*.d.ts"
}
